/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  max-width: 1100px;
  margin: 0 auto;
}
a.active {
  color: orange;
}
a.focus {
	color: orange;
}
.project-container {
	padding-bottom: 20px;
}
.project-img {
	width: 700px;
	height: 350px;
	border: 1px solid #f4f4f4;
	margin-bottom: 20px;
}
.projects-page-header {
	text-align: center;
}
.project-header {
	display: inline-block;
	padding-right: 10px;
}
.github {
	color: #FF5722;
}
.description {
	padding-bottom: 10px;
}
.project-title {
	margin-bottom: 20px;
}
.about-header {
	text-align: cente;
}
