/* Styles */
@font-face {
    font-family: BELLABOO;
	  src: local("BELLABOO"),
  	local("BELLABOO"),
  	url('./fonts/BELLABOO-regular.ttf');
    font-weight:400;
}

#app {
  font-family: "BELLABOO", Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  max-width: 1100px;
  margin: 0 auto;
	position: relative;
}

a {
	font-family: "BELLABOO";
	color: #6d8891;
}
a.active {
  color: black;
	text-decoration: underline #D3D3D3;
}
a.focus {
	color: black;
}
.page-container {
	padding-top: 40px;
}
.project-container {
	padding-bottom: 60px;
	height: 300px;
}
.img-container {
	height: 100%;
}
.project-img {
	height: 100%;
	width: 100%;
	border: 1px solid #f4f4f4;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.project-img:hover {
	opacity: .5;
}
.project-title {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.description {
	padding-bottom: 10px;
}
.about-header {
	text-align: center;
}
.contact-header {
	text-align: center;
	padding-bottom: 20px;
}
.social-media-icons {
	text-align: center;
}
.smi-spacing {
	 padding-right: 30px;
 }
.logo {
	width: 300px;
}
.top-heading {
	text-align: center;
}
.nav-link-container {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
.nav-link {
	padding-left: 5px;
	padding-right: 5px;
	color: #6d8891;
}

.logo-name {
	margin-top: 0px;
}
.project-list-container {
	padding-top: 30px;
}
.about-header {
	padding-bottom: 20px;
}
.about-me-paragraph {
	padding-top: 20px;
	text-align: center;
}
