/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  max-width: 1100px;
  margin: 0 auto;
}

a.active {
  color: orange;
}
a.focus {
	color: orange;
}

nav {
  padding-top: 15px;
	padding-bottom: 15px;
}
